.user-page {
  &-flex {
    display: flex;
    align-items: center;
  }
  &-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 2rem;
  }
  &-photo {
    width: 150px;
    border-radius: 50%;
  }
  &-avatar {
    margin: 3rem 10rem 2rem 7rem;
    width: 168px;
    height: 168px;
    border-radius: 50%;
    border: 3px solid #ff6f98;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-username {
    font-size: 28px;
    line-height: 32px;
    font-weight: 300
  }
  &-btn {
    margin-left: 4rem;
    background-color: transparent;
    border: 1px solid rgba(var(--d0b,219,219,219),1);
    border-radius: 4px;
    color: rgba(var(--f07,38,38,38),1);
    font-weight: 600;
    padding: 5px 9px;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    cursor: pointer;
  }
  &-settings-btn {
    margin-left: 3rem;
    cursor: pointer;
  }
  &-statistic {
    font-size: 18px;
    margin-bottom: 2rem;
  }
  &-counts {
    font-weight: 700;
    margin-right: 0.5rem;
  }
  &-text {
    margin-right: 2rem;
  }
}